@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 200px;
  padding-bottom: 150px;
  position: relative;
  min-height: 100vh;
  min-width: 350px;
  background-color: #2d2c2c;
}

body header {
  position: absolute;
  top: 35px;
  left: calc(50% - 162px);
  width: 324px;
  height: 116px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .sss {
  width: 104px;
  height: 116px;
  background-image: url("/image/sss.png");
}

body header p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 130px;
  color: white;
}

body main {
  min-height: 420px;
  width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

body main .sites {
  width: 340px;
  min-height: 410px;
  position: relative;
}

body main .sites .box {
  padding: 25px;
  width: 340px;
  min-height: 100px;
  margin-bottom: 45px;
}

body main .sites .box .forcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
  width: 290px;
}

body main .sites .box .forcard a {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body main .sites .box .forcard a.work {
  opacity: 0.5;
}

body main .sites .box .forcard a:nth-child(5n) {
  margin-right: 0;
}

body main .sites .box .forcard a:nth-child(1), body main .sites .box .forcard a:nth-child(2), body main .sites .box .forcard a:nth-child(3), body main .sites .box .forcard a:nth-child(4) {
  margin-top: 0;
}

body main .sites .verstka .forlang {
  position: absolute;
  z-index: 2;
  left: 35px;
  top: -20px;
  width: 95px;
  height: 34px;
  background-color: #2d2c2c;
  text-align: center;
  line-height: 37px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

body main .sites .verstka .forlang span:nth-child(2) {
  color: white;
}

body main .sites .verstka .forlang span:nth-child(1) {
  color: #F76A3E;
}

body main .sites .verstka .forlang span:nth-child(3) {
  color: #66B6FF;
}

body main .sites .verstka > .forcard > a {
  background-color: #f9bdbd;
}

body main .sites .verstka > .forcard > a:not(.work):hover {
  -webkit-box-shadow: 0px 0px 10px rgba(249, 189, 189, 0.6);
          box-shadow: 0px 0px 10px rgba(249, 189, 189, 0.6);
}

body main .sites .script .forlang {
  position: absolute;
  z-index: 2;
  left: 35px;
  top: -20px;
  width: 135px;
  height: 34px;
  background-color: #2d2c2c;
  text-align: center;
  line-height: 37px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

body main .sites .script .forlang span:nth-child(2), body main .sites .script .forlang span:nth-child(4) {
  color: white;
}

body main .sites .script .forlang span:nth-child(1) {
  color: #F76A3E;
}

body main .sites .script .forlang span:nth-child(3) {
  color: #66B6FF;
}

body main .sites .script .forlang span:nth-child(5) {
  color: #EFFF38;
}

body main .sites .script > .forcard > a {
  background-color: #f5ffb7;
}

body main .sites .script > .forcard > a:not(.work):hover {
  -webkit-box-shadow: 0px 0px 10px rgba(245, 255, 183, 0.6);
          box-shadow: 0px 0px 10px rgba(245, 255, 183, 0.6);
}

body main .sites .react .forlang {
  position: absolute;
  z-index: 2;
  left: 35px;
  top: -20px;
  width: 60px;
  height: 34px;
  background-color: #2d2c2c;
  line-height: 37px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #66B6FF;
}

body main .sites .react > .forcard > a {
  background-color: #a5d3fd;
}

body main .sites .react > .forcard > a:not(.work):hover {
  -webkit-box-shadow: 0px 0px 10px rgba(165, 211, 253, 0.6);
          box-shadow: 0px 0px 10px rgba(165, 211, 253, 0.6);
}

body main .game {
  width: 340px;
  height: 400px;
  position: relative;
}

@media (max-width: 850px) {
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
  }
}

body footer {
  position: absolute;
  bottom: 10px;
  height: 70px;
  width: 70px;
  left: calc(50% - 35px);
  border-radius: 50%;
  background-image: url("./image/diskord.png");
  background-repeat: no-repeat;
  background-position: center;
}

body footer a {
  display: block;
  width: 100%;
  height: 100%;
}
